/* Estilos generales */
body {
  font-family: Arial, sans-serif;
}

h1, h2 {
  font-weight: bold;
}

.portfolio img {
  margin-bottom: 15px;
}

.about {
  background-color: #18bc9c;
}

.contact {
  background-color: #ffffff;
  padding: 30px 0;
}

footer {
  background-color: #2c3e50;
}

footer p {
  margin: 0;
}